.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #ff4081;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
}

.footer {
    background-color: #ff4081;
}
