html, body, #root {
    height: 100%;
    width: 100%;
}

a:link {
    color: #ffffff
}

a:visited {
    color: #cfcfcf
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
